body {
  background-color: #ECF0F1;
  margin:0;
  padding:0;
  font-family: 'Bebas Neue', cursive;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display:none;
}

.underline-text {
  text-decoration: underline  #1B7FE3;
}

.highlight-text {
  color: #0a6bff;
}

.navbar-custom {
  height: 115px;
  background-color: #cdd2d7;
  
}

#navbar-logo {
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid #34495E;
}

.btn-custom {
  background-color: #34495E;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  position: relative;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
  display:inline-flex;
  align-items:center;
  justify-content: center;
}

.btn-custom:hover {
  color:white;
  background-color: #1B7FE3;
  transform: translateY(-2px);
}

#button-group {
  display: inline;
}

.nav-title {
  color: #34495E;
  font-size: 40px;
  margin:0 auto;
  border-radius: 10px;
  padding:0;
}

#navbar-title-top {
  margin:0;
}

#navbar-title-bottom {
  margin:0;
}

#navbar-hr {
  margin:0;
  padding:0;
  background-color: #0a6bff;
  height: 5px;
  width: 50%;
  left:33%;
  opacity: 1;
}

#card-1-h1 {
  font-size:125px;
  color: #34495E;
}
#card-1-h3 {
  font-size:50px;
}

#home-link, #add-link, #gallery-link {
  color: white;
  font-size: 20px;
  border: 5px solid white;
  border-radius:15%;
}

#home-link:hover, #add-link:hover, #gallery-link:hover {
  color: black;
  font-size: 20px;
  border: 5px solid #999;
  background-color: white;
  border-radius:5px;
}

.custom-card {
  display:block;
  margin:0;
  position:relative;
  border: 3px solid #34495E;
  border-radius: calc(20px - 5px);
  background-color: white;
  justify-content: center;
  max-width:100%;
  max-height:100%;
}

.detail-image {
  width:35%;
  height:35%;
  left:12.5%;
  top: 15%;
}

.car-card {
  width:40%;
  height:auto;
  border-radius: calc(20px - 5px);
}

.home-image {
  max-width: 100%;
  max-height:100%;
  border-radius: calc(20px - 5px);
  box-shadow: 4px 4px 20px white;
}

.home-card {
  display:block;
  margin:0;
  position:relative;
  border-radius: calc(20px - 5px);
  background-color: white;
  justify-content: center;
  max-width:100%;
  max-height:100%;
}


#addForm {
  top:15%
}

.hide {
  display:none;
  height:0;
  width:0;
}

#lothr {
  left:33%;
  width:33%;
  height: 8px;
  background-color: #1B7FE3;
  opacity: 1;
}

.detail-title {
  font-size: 45px;
}

.detail-body {
  font-size: 20px;
}

.remove-button {
  position:absolute;
}

.small-button {
  width: 25px;
}

.small-button:hover {
  transform: translateY(-2px);
}

.comment-border {
  border: 3px solid #34495E;
}

.to-top {
  text-decoration: none;
}