body {
  background-color: #ECF0F1;
  margin:0;
  padding:0;
  font-family: 'Bebas Neue', cursive;
}

.underline-text {
  text-decoration: underline  #999;
}

.highlight-span {
  
  color: #0a6bff;
  
}

.navbar-custom {
  height: 135px;
  background-color: #34495E;
}

.btn-custom {
  background-color: #0a6bff;
  border-radius: 4px;
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  position: relative;
  text-align: center;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
  display:inline-flex;
  align-items:center;
  justify-content: center;
}

.btn-custom:hover {
  background-color: #065dd8;
  transform: translateY(-2px);
}

#button-group {
  display: inline;
}



#nav-title {
  color: #ECF0F1;
  font-size: 75px;
  text-decoration: underline  #999;
  text-shadow: 2px 1px 0 #999;
  
}

#card-1-h1 {
  font-size:125px;
}
#card-1-h3 {
  font-size:50px;
}

#home-link, #add-link, #gallery-link {
  color: white;
  font-size: 20px;
  border: 5px solid white;
  border-radius:15%;
}

#home-link:hover, #add-link:hover, #gallery-link:hover {
  color: black;
  font-size: 20px;
  border: 5px solid #999;
  background-color: white;
  border-radius:5px;
}



.custom-card {
  display:block;
  margin:0;
  position:relative;
  
  border-radius: calc(20px - 5px);
  background-color: white;
  
  justify-content: center;
  max-width:100%;
  max-height:100%;
}

.detail-image {
  width: 45%;
  left:12.5%;
  top: 15%;
  
}

.car-card {
  width:40%;
  height:auto;
  border-radius: calc(20px - 5px);
}

#def {
  
  
}

#home-card-2 {
  
  
}

#home-card-3 {
  
  
}

.image-card {
  
}

.home-image {
  max-width: 100%;
  max-height:100%;
  border-radius: calc(20px - 5px);
  box-shadow: 4px 4px 20px white;
}

#home-image-card-1 {
 
}

#home-image-card-2 {
  
}

#home-image-card-3 {
  
}


#addForm {
  width: 50%;
  left:25%;
  top:15%
}


